* {
    margin: 0px;
    padding: 0px;
}


/* menu and header cas included by menu.css file */

#middle {
    height: 1275px;
    background-color: black;
    display: grid;
    grid-template-columns: 1141px;
    grid-template-rows: 75px 420px 100px 90px 290px 100px auto;
}

#acc-box {
    width: 1052px;
    height: 55px;
    border-bottom: 2px solid #d9d9d9;
    margin: auto;
    padding-bottom: 18px;
    font-size: 24px;
}

#dashboard {
    width: 166px;
    height: 29px;
    margin-top: 21px;
    margin-left: 47px;
}

#graph {
    width: 1052px;
    margin: auto;
}

#whats-new {
    width: 1052px;
    height: 50px;
    color: white;
    border-bottom: 2px solid white;
    margin: 30px auto;
    display: flex;
    background-color: #191818;
}

#img-new {
    width: 37px;
    height: 19px;
    margin-left: 10px;
}

#box4 {
    width: 1034px;
    height: 78px;
    color: white;
    border-radius: 10px;
    background-color: #7f7f7f;
    margin-left: 44.5px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 22px;
}

#aside {
    width: 1052px;
    margin: auto;
    background-color: #191818;
}

#pera-hr {
    width: 96%;
    margin: auto;
    margin-top: -40px;
    margin-bottom: 15px;
}

.small {
    float: left;
    width: 221px;
    height: 111px;
    margin-left: 31px;
    margin-top: 27px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}

#inner1 {
    background-color: #5289C9;
}

#span1 {
    width: 83px;
    height: 60px;
    margin-left: 24px;
    color: #d9d9d9;
}

#inner2 {
    background-color: #2862FF;
}

#span2 {
    margin-left: 24px;
    color: #d9d9d9;
}

#inner3 {
    background-color: #FF6A81;
}

#span3 {
    margin-left: 24px;
    color: #d9d9d9;
}

#inner4 {
    background-color: #EC1032;
}

#span4 {
    margin-left: 24px;
    color: #d9d9d9;
}

.span11 {
    width: 42px;
    height: 44px;
    margin-left: 45px;
    color: white;
    font-size: 37px;
    font-weight: bold;
}

#span110 {
    margin-left: 20px;
}

#span112 {
    margin-left: 25px;
}

#pera1 {
    color: white;
    margin-left: 20px;
}

#footer {
    width: 1052px;
    margin: auto;
    background-color: #191818;
}

#pera {
    float: left;
    color: #e9e4e4;
    margin: 33px 21px;
    letter-spacing: 0.8px;
}

#footerbtn {
    width: 398px;
    height: 56px;
    background-color: #0070C0;
    color: #EBF2F7;
    float: right;
    margin: 18px 17px;
    font-size: 21px;
    letter-spacing: 0.66px;
    border-radius: 10px;
}